@charset "UTF-8";

div.conteiner {
    background-color: lightsalmon;

    display: flex;

    flex-direction: row-reverse;
    flex-wrap: wrap ;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;

    text-align: center;
    padding: 5px;
}