@charset "UTF-8";

div.conteiner {
    background-color: lightsalmon;

    display: flex;
    flex-flow: row nowrap;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;
    flex-basis: 150px;
    text-align: center;
    padding: 10px;
}

#A{
    flex-grow: 0;
    flex-shrink: 1;
}

#B{
    flex-grow: 2;
    flex-shrink: 0;
}

#C{
    flex-grow: 1;
    flex-shrink: 2;
}